/* ----- Tabs ----- */
ul .nav .nav-tabs {
  margin-bottom: 2em;
}

.nav-tabs .nav-link.active {
  /* background-color: gray; */
}

.tab-pane.active {
  /* background-color: gray; */
  min-height: 60vh;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.list-group-item {
  padding: 1.25em 1em;
  font-size: 1.1rem;
}

.card .list-group-item {
  padding: 0.5em;
  font-size: 1rem;
  background-color: hsl(188, 68%, 81%);
}

.list-group-item__inline {
  padding: 1.5em 1em 0 1em;
}

.long-text-container {
  max-width: 80ch;
  text-align: left;
  margin-top: 1.8rem;
  margin-left: 10px;
}

.badge-container {
  position: absolute;
  display: inline-block;
  text-align: right;
  line-height: 1;
  margin-right: 0.5rem;
  height: 60%;
  top: 11px;
  right: 0;
}

/* Button */
.btn {
  vertical-align: unset;
}

.remove-btn {
  margin: 0 1.5rem 0 0.5rem;
  font-weight: bold;
}

.remove-btn__inline {
  position: absolute;
  top: 13px;
}

.list-item-badge {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.list-item-btn {
  font-weight: bold;
  position: absolute;
  width: 43px;
  right: 13px;
  top: 37px;
}

.list-item-btn__inline {
  top: 13px;
  left: 63px;
}

@media only screen and (max-width: 600px) {
  .badge-container {
    width: 130px;
  }

  .badge-container span {
    display: inline-block;
  }

  .list-item-badge {
    font-size: 0.8rem;
  }
}

/*  TABS List item fade in/out */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;

  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/*  DASHBOARD List item fade in/out */
.fade-dashboard-enter {
  opacity: 0.01;
}

.fade-dashboard-enter-active {
  opacity: 1;

  transition: opacity 400ms ease-in;
}

.fade-dashboard-exit {
  opacity: 1;
}

.fade-dashboard-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
  display: none;
}

/* ---- Dashboard ---- */

.card-deck {
  margin: 5rem auto;
  max-width: 1000px;
  flex-wrap: wrap;
}

/* Cards */
.card {
  padding: 1rem;
  width: 30%;
  flex: none !important;
  margin: 1rem auto !important;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 45% !important;
    margin-bottom: 2rem !important;
  }

  .card:last-of-type {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 605px) {
  .card {
    width: 90% !important;
  }
}

.card img {
  filter: saturate(70%);
}

.card-body {
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.card .btn {
  color: hsl(210, 10%, 13%);
  background-color: hsl(210, 60%, 83%);
  border-color: hsl(210, 60%, 75%);
}

.card .alert {
  margin-bottom: 0;
  border-radius: 0px 0px 0.25rem 0.25rem;
}

.btn-danger {
  background-color: hsl(354, 60%, 64%) !important;
  border-color: hsl(354, 60%, 64%) !important;
  color: #fff !important;
}

.card .btn:hover {
  background-color: hsl(210, 60%, 73%);
}

/* ----- Global ------ */

.required-text-form {
  color: hsl(354, 60%, 64%) !important;
}

.badge-success {
  background-color: hsl(134, 51%, 51%);
  /* Original: hsl(134, 61%, 41%) */
}

.badge-info {
  background-color: hsl(188, 68%, 51%);
  /* Original: hsl(188, 78%, 41%) */
}

.badge-danger {
  background-color: hsl(354, 60%, 64%);
  /* Original: hsl(354, 70%, 54%) */
}

.badge-primary {
  background-color: hsl(211, 90%, 60%);
  /* Original: hsl(211, 100%, 50%) */
}

.badge-warning {
  color: #fff;
  background-color: hsl(45, 90%, 61%);
  /* Original: hsl(45, 100%, 51%) */
}

/* Footer */

/* Code to keep the footer at the bottom even when page content does not fill the page */
#page-container {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

#page-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Footer height */
  background-color: #343a40;
  color: #fdfdfd;
}

.footer-content {
  text-align: center;
  margin: 1.5rem;
}

/* Tab content fade in/out */

.tab-pane.active {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
