/* ----- Tabs ----- */
ul .nav .nav-tabs {
  margin-bottom: 2em;
}

.nav-tabs .nav-link.active {
  /* background-color: #d3d3d3; */
}

.tab-pane.active {
  /* background-color: pink; */
  min-height: 60vh;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.list-group-item {
  padding: 1.25em 1em;
  font-size: 1.1rem;
}

.card .list-group-item {
  padding: 0.5em;
  font-size: 1rem;
  background-color: hsl(188, 68%, 81%);
}

.last-item-fade-in {
}

/* List Item Button */
.remove-btn {
  margin: 0 1.5rem 0 0.5rem;
}

.list-item-badge {
  font-size: 1rem;
  position: absolute;
  right: 2%;
}

/*  TABS List item fade in/out */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;

  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/*  DASHBOARD List item fade in/out */
.fade-dashboard-enter {
  opacity: 0.01;
}

.fade-dashboard-enter-active {
  opacity: 1;

  transition: opacity 400ms ease-in;
}

.fade-dashboard-exit {
  opacity: 1;
}

.fade-dashboard-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
  display: none;
}

/* ---- Dashboard ---- */
.card {
  /* text-align: center !important; */
  padding: 1rem;
}

.card-body {
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.card .badge {
  /* font-size: 3rem !important; */
  /* vertical-align: sub; */
  /* position: absolute;
  top: 30%; */
}

.card-title {
  /* font-size: 3em; */
  /* padding: 0.25em 0.4em; */
  /* vertical-align: baseline; */
  /* font-weight: bold; */
  /* display: inline-block; */
}

.card .btn {
  color: hsl(210, 10%, 13%);
  background-color: hsl(210, 60%, 83%);
  border-color: hsl(210, 60%, 75%);
}

.card .alert {
  margin-bottom: 0;
}

.btn-danger {
  background-color: hsl(354, 60%, 64%) !important;
  border-color: hsl(354, 60%, 64%) !important;
}

.card .btn:hover {
  background-color: hsl(210, 60%, 73%);
}

/* ----- Global ------ */
.badge-success {
  background-color: hsl(134, 51%, 51%);
  /* Original: hsl(134, 61%, 41%) */
}

.badge-info {
  background-color: hsl(188, 68%, 51%);
  /* Original: hsl(188, 78%, 41%) */
}

.badge-danger {
  background-color: hsl(354, 60%, 64%);
  /* Original: hsl(354, 70%, 54%) */
}

.badge-primary {
  background-color: hsl(211, 90%, 60%);
  /* Original: hsl(211, 100%, 50%) */
}

.badge-warning {
  color: #fff;
  background-color: hsl(45, 90%, 61%);
  /* Original: hsl(45, 100%, 51%) */
}

/* Footer */

/* Code to keep the footer at the bottom even when page content does not fill the page */
#page-container {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

#page-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem; /* Footer height */
  background-color: #343a40;
  color: #fdfdfd;
}

.footer-content {
  text-align: center;
  margin: 1.5rem;
}

/* Tab content fade in/out */

.tab-pane.active {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
